body{
	margin: 0;
	font-family: helvetica, arail, sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: #ee77f2;

}

header{
	background-color: #9c13a1;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
}

/* header styles */
/*write your comment here*/

header h1{
	color: darkblue;

}

header img{
	border-radius: 230px;
	width: 350px;
	border: 10px solid #ebebeb;

}

main{
	max-width: 800px;
	padding: 20px;
	background-color: #ee77f2;
}

h2{
	font-size: 35px;
	margin: 40px 10px;
}


p{
	font-size: 20px;
}

a{
	color: #a225b8;
}

a:hover{
	color: #a480f2;
}

footer{
	color: white;
	text-align: center;
	padding: 50px;
	background-color:#9c13a1 ;

}

footer p{
	margin: 0;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin: 0;
}

li{
	width: 1400px;
}

img{
	width: 300px;
	
}

img[src*="sombra2.jpg"]{
	padding-left: 20px;
}